services:
  db:
    image: postgres:16
    container_name: batalla_friki_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: batalla_friki
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
      dockerfile: DockerFile
    container_name: batalla_friki_backend
    restart: always
    depends_on:
      - db
    env_file:
      - ./backend/.env
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/batalla_friki
      PORT: 3000
    ports:
      - "3000:3000"

  frontend:
    build:
      context: ./frontend
      dockerfile: DockerFile
    container_name: batalla_friki_frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "5173:80"

volumes:
  db_data: