# =========================
# Node
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Build
# =========================
dist/
build/
coverage/

# =========================
# Env files
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
logs
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Prisma
# =========================
prisma/dev.db
prisma/dev.db-journal

# =========================
# Docker
# =========================
docker-compose.override.yml
/generated/prisma
