@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html, body, #root {
  height: 100%;
}

body {
  @apply bg-zinc-950 text-zinc-100;
}

thead {
  background-color: rgb(9 9 11); /* zinc-950 */
  color: rgb(0 0 0); /* zinc-300 */
}